.home-availability {
  border-top: 1px solid #e9eaea;
  margin: 1.5rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
}

.availability {
  /* border: 1px solid firebrick; */
  padding-right: 1rem;
  flex: 35%;
}

.availability h1,
.activity h1 {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.permissioning-container {
  padding-top: 1rem;
}
.permissioning {
  border-radius: 1rem;
  padding: 1rem;
  background-color: #303030;
  text-align: center;
  color: #fafafb;
  font-weight: 600;
  font-size: 1rem;
}
.permissioning h1 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #3dd598;
}
.permissioning .get-permission-button {
  margin: 1rem;
  margin-bottom: 0.5rem;
  background-color: #3dd598;
  color: #303030;
  border-radius: 0.9rem;
  padding: 0.5rem 3rem;
}

.activity {
  /* border: 1px solid pink; */
  /* padding: 1rem; */
  flex: 65%;
}

.upcoming-activity {
  padding-top: 0rem;
}
.past-activity {
  padding-top: 1rem;
}

.scroll-container {
  width: 65vw;
  display: flex;
  overflow-x: auto;

  padding-top: 1rem;
  gap: 1rem; /* Space between cards */
  scroll-snap-type: x mandatory; /* Optional smooth snapping */
}

/* Hide scrollbar (optional for better aesthetics) */
.scroll-container::-webkit-scrollbar {
  display: none;
}
.scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media screen and (max-width: 768px) {
  .availability,
  .activity,
  .upcoming-activity,
  .past-activity,
  .scroll-container {
    padding: 0;
    padding-top: 1rem;
  }
  .home-availability {
    flex-direction: column;
  }

  .upcoming-activity .scroll-container,
  .past-activity .scroll-container {
    width: 100%;
  }
}
