.todaysEvent {
  padding: 0rem;
}

.todaysEvent .panel .card {
  width: 100%;
  height: auto;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid #e9eaea;
  border-radius: 1rem;
}

.todaysEvent .panel .card > .header {
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  border-bottom: 0px;
}

.todaysEvent .panel .card > .content {
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  padding-top: 0;
  align-items: center;
}
